@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #f6f7f8;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.bg-image {
    background-image: url('../assets/bg.png');
    
}

